<h4> Food 4 Thought was founded by a trio of students; Brian, Rashad, and Ash 
at the programming academy Tech Talent 
South during Spring 2016. The purpose of 
the website was to help consumers decide 
where they wanted to eat if they were ever 
feeling indecisive on how to satisfy their appetite. 
Along with the restaurant that 
shows upon entering in the information asked, a map of the location will appear with a Yelp! 
Review which can also serve as another great way to determine what the ideal place to eat will be.
</h4>

<div align="center" class="main pic"><img src="https://s-media-cache-ak0.pinimg.com/736x/4d/ec/2e/4dec2e8c502eba64c558bc2cecc1df53.jpg"></div>
</body>