<h1 align="center">
    <u>FOOD 4 THOUGHT</u>
    
<h2 align="left">
<h2>About Us
<h2 align="right">
</h2>    
<h2>Our Mission
<h2 align="left">
</h2>

<h2>Contact Us
<h2 align="left">
</h2>
    
<p>Good Day! Help us help you figure out your next meal!</p>

    <div align="center">
    <input class="locator__search" placeholder="Where are you at?" type="text" id="locationsearch" autocomplete="on">
    <input class="locator__search" placeholder="What's the price range?" type="text" id="locationsearch" autocomplete="on">
    <input type="submit" class="locator__submit" value="Find me a place to eat!">
    </div>