<form class="input-field col s12" action="<%=restaurant_path %>" method="post">

    <div align="center">
        <input class="locator__search" name="location" placeholder="Where are you at?" type="text" id="locationsearch" autocomplete="on">
        <div class="input-field col s12">
        <input class="locator__search" name="food_type" placeholder="What food are you craving?" type="text" id="locationsearch" autocomplete="on">  
        <div class="input-field col s12">
    </div>
    </div>
        <input type="submit" class="locator__submit" value="Find me a place to eat!">
        <input type="submit" class="locator__submit" value="I'm so hungry, choose something random!" name=random>
    </div>
    
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/geocomplete/1.7.0/jquery.geocomplete.min.js"></script>
    <script>
        $("#locationsearch").geocomplete();
    </script>
</form>
<img src="https://pixabay.com/static/uploads/photo/2015/03/26/09/42/breakfast-690128__340.jpg">
