    <div align="center">
        
    
    <input class="locator__search" placeholder="Where are you at?" type="text" id="locationsearch" autocomplete="on">
    
    <input class="locator__search" placeholder="What's the price range?" type="text" id="locationsearch" autocomplete="on">
    <input type="submit" class="locator__submit" value="Find me a place to eat!">
    <input type="submit" class="locator__submit" value="I'm so hungry, choose something random!">
    </div>
    
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/geocomplete/1.7.0/jquery.geocomplete.min.js"></script>
    <script>
        $("#locationsearch").geocomplete();
    </script>    