<form class="input-field col s12" action="<%=restaurant_path %>">
    <div align="center">
        <input class="locator__search" name="location" placeholder="Where are you at?" type="text" id="locationsearch" autocomplete="on">
        <div class="input-field col s12">
            <select name="price">
              <option value="" disabled selected>Cheap or Expensive?</option>
              <option value="1">Cheap</option>
              <option value="2">Expensive</option>
            </select>
            <label></label>
        </div>    
        <input type="submit" class="locator__submit" value="Find me a place to eat!">
        <input type="submit" class="locator__submit" value="I'm so hungry, choose something random!">
    </div>
    
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/geocomplete/1.7.0/jquery.geocomplete.min.js"></script>
    <script>
        $("#locationsearch").geocomplete();
    </script>
</form>

