<h4>Our Mission is to continue providing simple, hassle-free 
ways to help you figure out where your next meal is at. It’s 
our goal to consistently narrow down choices to ultimately 
help you channel your inner foodie. Explore our website and 
help us help you decide where that next place to dine is!</h4>

<div align="center" class="other-pic"><img src="https://s-media-cache-ak0.pinimg.com/736x/80/80/ec/8080ec26b23b7501076c3639474e56b5.jpg"></div>