// Place all the styles related to the Restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#map {
    width: 400px;
    height: 400px;
    

}

p {
  font-size: 30px;
  
}

img {
    width: 45%;
    height: display;
}



