<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  

  
   <nav>
    <div class="nav-wrapper">
    
    <a href="Food 4 Thought"></a>
    
    <a id align="middle">Logo</a>
    <a id="logo-container" href="#" class="brand-logo"></a>
     
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        <a href="Food 4 Thought"></a>
        <a class="About Us" href="/about-us">About Us</a>
        <a class="Our Mission" href="/our-mission">Our Mission</a>
        <a class="Contact Us" href="/contact-us">Contact Us</a>
      </ul>
    </div>
  </nav>
</head>
<body>
    
<div class="container"></div>
<br>
<br>

<%= yield %>


<script>
  
  $(document).ready(function() {
    $('select').material_select();
  });
       
</script>

</body>
</html>
